.main-window-root {
    -fx-background-color: -tmp-bg;
}

.main-window-top {
    -fx-background-color: -tmp-dark;
}

.main-window-brand {
    -fx-text-fill: #F7F9FC;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.main-window-nav {
    -fx-background-color: derive(-tmp-bg, -3%);
}

.main-window-nav-title {
    -fx-font-size: 13px;
    -fx-text-fill: -tmp-text;
    -fx-font-weight: bold;
}

.main-window-content {
    -fx-background-color: -tmp-bg;
}

.main-window-status {
    -fx-background-color: derive(-tmp-border, 40%);
    -fx-text-fill: -tmp-text;
}
